body,
html {
  height: 100%;
  margin: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  font-family: "VT323";
  font-size: min(10vh, 70vw);
  color: green;
  text-shadow: 1vh 1vh #000100;
  text-align: center;
}

.bg {
  background-size: cover;
  height: 100%;
  background-image: url("https://cdn.discordapp.com/attachments/1089013186117779547/1123001750769643611/outside_spawn.png");
  background-color: black;
  background-position: center;
}

.ip {
  margin-top: 0;
  padding-top: 0;
  line-height: 100%;
  font-family: "VT323";
  font-size: min(4vh, 70vw);
  color: lightblue;
  text-shadow: 1px 1px #000100;
  text-align: center;
  text-wrap: wrap;
}

.taskbar {
  width: 20vw;
  min-width: 50vh;
  height: 15vh;
  background-color: #272d33f0;
  border-radius: 20px;
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  display: flex;
}

.taskbutton {
  width: 33vw;
  height: auto;
  border-radius: 20px;
  background: transparent;
  border-color: transparent;
  text-align: center;
  color: white;
  font-size: 2vh;
  font-family: 'Open Sans', sans-serif;
}

.credit {
  position: fixed; 
  bottom: 0; 
  left: 0;
  margin-bottom: 0;
  font-size: 2vMin;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.seperator {
  width: 0.5vw;
  height: 13vh;
  background-color: #55555555;
  border-radius: 20px;
  border-width: 1px;
  font-size: 0px;
  transform: translatey(1vh);
}

.warning {
  position: absolute;
  width: auto;
  bottom: 0;
  font-size: 2vMin;
  line-height: 4vh;
  color: red;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  text-wrap: nowrap;
}